In [ ]:
import morePVs_output as opm
import morePVs as mpv
import os
import en_utilities as um
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.lines as mlines

In [69]:
f = 'C:\\Users\\z5044992\\Documents\\MainDATA\\DATA_EN_3\\studies\\EN1_value_of_pv2\\outputs\\combined_value5\\combined_value5_results.csv'
f2 = 'C:\\Users\\z5044992\\Documents\\MainDATA\\DATA_EN_3\\studies\\EN1_value_of_pv2\\inputs\\study_combined_value5.csv'

In [70]:
df= pd.read_csv(f)
df = df.set_index(['scenario'])
df2= pd.read_csv(f2)
df2= df2.set_index(['scenario'])
df = df.merge(df2,left_index = True, right_index=True)
for c in df.columns:
    if '_x' in c:
        nc = c[:-2]
        df.rename(columns={c:nc}, inplace=True)
df.head()

,scenario_label,arrangement,number_of_households,load_folder,central_battery_kWh,en_opex,en_capex_repayment,pv_capex_repayment,average_hh_bill$,average_hh_solar_bill$,...,arrangement_y,pv_cap_id,cp,all_residents,parent,network_tariff,en_capex_id,a_term,a_rate,site_tag
scenario,,,,,,,,,,,,,,,,,,,,,
A0,siteA_value5_000,bau,208,h_all_site_A,0,0.0,0.0,0.000000,1210.652254,0,...,bau,NaN,EASO_TOU_15pc_FIT8,EASO_TOU_15pc_FIT8,TIDNULL,EA310,NaN,5,0.06,a208_f12_cp34
A1,siteA_value5_001,cp_only,208,h_all_site_A,0,0.0,0.0,12277.102280,1210.652254,0,...,cp_only,site_A_max,EASO_TOU_15pc_FIT8,EASO_TOU_15pc_FIT8,TIDNULL,EA310,NaN,5,0.06,a208_f12_cp34
A2,siteA_value5_002,cp_only,208,h_all_site_A,0,0.0,0.0,7050.245955,1210.652254,0,...,cp_only,site_A_max,EASO_TOU_15pc_FIT8,EASO_TOU_15pc_FIT8,TIDNULL,EA310,NaN,10,0.06,a208_f12_cp34
A3,siteA_value5_003,cp_only,208,h_all_site_A,0,0.0,0.0,6842.075547,1210.652254,0,...,cp_only,site_A_max,EASO_TOU_15pc_FIT8,EASO_TOU_15pc_FIT8,TIDNULL,EA310,NaN,15,0.06,a208_f12_cp34
A4,siteA_value5_004,cp_only,208,h_all_site_A,0,0.0,0.0,5808.894665,1210.652254,0,...,cp_only,site_A_max,EASO_TOU_15pc_FIT8,EASO_TOU_15pc_FIT8,TIDNULL,EA310,NaN,20,0.06,a208_f12_cp34

In [71]:
# Set up constants
sites = ['A','E',  'D','B', 'H', 'I', 'G', 'C',  'J', 'F' ]
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ordered_sites = dict(zip(sites,values))
tag_list = ['a208_f12_cp34',
 'a161_f7_cp38',
 'a138_f9_cp45',
 'a104_f8_cp57',
 'a52_f3_cp27',
 'a48_f4_cp09',
 'a44_f4_cp17',
 'a34_f4_cp34',
 'a26_f4_cp44',
 'a20_f5_cp37']
tag_dict=dict(zip(sites, tag_list))
tag_sorter= dict(zip(tag_list,values))
# Plotting set-up parameters
cmap = mpl.cm.tab10_r
alpha=1
sites_grouped={'all': sites,
              'group1': [s for s in sites if s in ['A','B','C','D','E']],
              'group2': [s for s in sites if s in['F', 'G','H','I','J']]}

In [72]:
df['site'] = df['load_folder'].apply( lambda x: x[-1:])
# Sort sites in correct order (decreasing number apartments)
df['site_order']= df['site'].apply(lambda x: ordered_sites[x])
df.sort_values(by='site_order', inplace=True)
dfg=df.copy()

In [73]:
dfg['pv_cap_id'] = dfg['pv_cap_id'].fillna('')
dfg = dfg.loc[dfg['pv_cap_id'].str.contains('max')]

In [74]:
dfg['comb']= dfg['site']+dfg['arrangement']

In [75]:
dfg.loc[dfg.comb=='Jcp_only','self-consumption_mean']
dfg.loc[dfg.comb=='Jcp_only']

,scenario_label,arrangement,number_of_households,load_folder,central_battery_kWh,en_opex,en_capex_repayment,pv_capex_repayment,average_hh_bill$,average_hh_solar_bill$,...,all_residents,parent,network_tariff,en_capex_id,a_term,a_rate,site_tag,site,site_order,comb
scenario,,,,,,,,,,,,,,,,,,,,,
J5_b,siteJ_value5b_005,cp_only,26,h_all_site_J,0,0.0,0.0,10378.535840,1167.711578,0,...,EASO_TOU_15pc,TIDNULL,EA305,NaN,25,0.06,a26_f4_cp44,J,9,Jcp_only
J4_b,siteJ_value5b_004,cp_only,26,h_all_site_J,0,0.0,0.0,9448.292799,1167.711578,0,...,EASO_TOU_15pc,TIDNULL,EA305,NaN,20,0.06,a26_f4_cp44,J,9,Jcp_only
J3_b,siteJ_value5b_003,cp_only,26,h_all_site_J,0,0.0,0.0,11128.783850,1167.711578,0,...,EASO_TOU_15pc,TIDNULL,EA305,NaN,15,0.06,a26_f4_cp44,J,9,Jcp_only
J2_b,siteJ_value5b_002,cp_only,26,h_all_site_J,0,0.0,0.0,11399.363100,1167.711578,0,...,EASO_TOU_15pc,TIDNULL,EA305,NaN,10,0.06,a26_f4_cp44,J,9,Jcp_only
J1_b,siteJ_value5b_001,cp_only,26,h_all_site_J,0,0.0,0.0,19850.533950,1167.711578,0,...,EASO_TOU_15pc,TIDNULL,EA305,NaN,5,0.06,a26_f4_cp44,J,9,Jcp_only
J10,siteJ_value5_010,cp_only,26,h_all_site_J,0,0.0,0.0,10378.535840,1167.711578,0,...,EASO_TOU_15pc_FIT12,TIDNULL,EA305,NaN,25,0.06,a26_f4_cp44,J,9,Jcp_only
J9,siteJ_value5_009,cp_only,26,h_all_site_J,0,0.0,0.0,9448.292799,1167.711578,0,...,EASO_TOU_15pc_FIT12,TIDNULL,EA305,NaN,20,0.06,a26_f4_cp44,J,9,Jcp_only
J8,siteJ_value5_008,cp_only,26,h_all_site_J,0,0.0,0.0,11128.783850,1167.711578,0,...,EASO_TOU_15pc_FIT12,TIDNULL,EA305,NaN,15,0.06,a26_f4_cp44,J,9,Jcp_only
J7,siteJ_value5_007,cp_only,26,h_all_site_J,0,0.0,0.0,11399.363100,1167.711578,0,...,EASO_TOU_15pc_FIT12,TIDNULL,EA305,NaN,10,0.06,a26_f4_cp44,J,9,Jcp_only
J6,siteJ_value5_006,cp_only,26,h_all_site_J,0,0.0,0.0,19850.533950,1167.711578,0,...,EASO_TOU_15pc_FIT12,TIDNULL,EA305,NaN,5,0.06,a26_f4_cp44,J,9,Jcp_only
J5,siteJ_value5_005,cp_only,26,h_all_site_J,0,0.0,0.0,10378.535840,1167.711578,0,...,EASO_TOU_15pc_FIT8,TIDNULL,EA305,NaN,25,0.06,a26_f4_cp44,J,9,Jcp_only
J4,siteJ_value5_004,cp_only,26,h_all_site_J,0,0.0,0.0,9448.292799,1167.711578,0,...,EASO_TOU_15pc_FIT8,TIDNULL,EA305,NaN,20,0.06,a26_f4_cp44,J,9,Jcp_only
J3,siteJ_value5_003,cp_only,26,h_all_site_J,0,0.0,0.0,11128.783850,1167.711578,0,...,EASO_TOU_15pc_FIT8,TIDNULL,EA305,NaN,15,0.06,a26_f4_cp44,J,9,Jcp_only
J2,siteJ_value5_002,cp_only,26,h_all_site_J,0,0.0,0.0,11399.363100,1167.711578,0,...,EASO_TOU_15pc_FIT8,TIDNULL,EA305,NaN,10,0.06,a26_f4_cp44,J,9,Jcp_only
J1,siteJ_value5_001,cp_only,26,h_all_site_J,0,0.0,0.0,19850.533950,1167.711578,0,...,EASO_TOU_15pc_FIT8,TIDNULL,EA305,NaN,5,0.06,a26_f4_cp44,J,9,Jcp_only

In [76]:
dfg = dfg.drop_duplicates(['comb'])

In [77]:
dfg.index = [dfg.site,dfg.arrangement]
dfu = dfg['self-consumption_mean'].unstack()

In [78]:
dfu

arrangement,btm_i,btm_icp,btm_s_c,btm_s_u,cp_only,en_pv
site,,,,,,
A,82.910684,92.772354,100.000000,99.999985,99.992678,100.000000
B,86.002166,97.177915,100.000000,100.000000,100.000000,100.000000
C,77.965297,90.261445,100.000000,99.784288,94.511181,100.000000
D,77.493642,93.183119,100.000000,99.987019,100.000000,100.000000
E,62.963468,84.666822,100.000000,95.278787,88.854270,100.000000
F,36.010389,59.294562,74.827885,51.600881,39.371580,74.827885
G,37.511446,44.276399,62.836940,55.998572,12.843447,62.836940
H,27.008362,35.665131,46.365444,36.804609,13.605079,46.365444
I,47.186710,51.385719,76.079840,72.562557,8.988946,76.079840
J,24.741602,43.917634,53.057464,32.433499,27.614196,53.057464

In [81]:
dfu['site']=dfu.index
dfu['site_order']= dfu['site'].apply(lambda x: ordered_sites[x])
dfu.sort_values(by='site_order', inplace=True)
dfu['tag']= dfu['site'].apply(lambda x: tag_dict[x])

dfu = dfu.set_index(['tag']).drop('site',axis=1)

In [89]:
dfu = dfu.fillna(0).round().astype(int)

In [90]:
dfu=dfu.drop(['site_order'],axis=1)
dfu

arrangement    btm_i  btm_icp  btm_s_c  btm_s_u  cp_only  en_pv
tag
a208_f12_cp34     83       93      100      100      100    100
a161_f7_cp38      63       85      100       95       89    100
a138_f9_cp45      77       93      100      100      100    100
a104_f8_cp57      86       97      100      100      100    100
a52_f3_cp27       27       36       46       37       14     46
a48_f4_cp09       47       51       76       73        9     76
a44_f4_cp17       38       44       63       56       13     63
a34_f4_cp34       78       90      100      100       95    100
a26_f4_cp44       25       44       53       32       28     53
a20_f5_cp37       36       59       75       52       39     75

In [66]:
dfu

arrangement  btm_i  btm_icp  btm_s_c  btm_s_u  cp_only  en_pv tag
site
A             83.0     93.0    100.0    100.0    100.0  100.0   A
B             86.0     97.0    100.0    100.0    100.0  100.0   B
C             78.0     90.0    100.0    100.0     95.0  100.0   C
D             77.0     93.0    100.0    100.0    100.0  100.0   D
E             63.0     85.0    100.0     95.0     89.0  100.0   E
F             36.0     59.0     75.0     52.0     39.0   75.0   F
G             38.0     44.0     63.0     56.0     13.0   63.0   G
H             27.0     36.0     46.0     37.0     14.0   46.0   H
I             47.0     51.0     76.0     73.0      9.0   76.0   I
J             25.0     44.0     53.0     32.0     28.0   53.0   J