In [ ]:
import numpy as np
import pandas as pd
import morePVs

In [2]:
project='p_testing'
study_name='test7'
base_path='C:\\Users\\z5044992\\Documents\\MainDATA\\DATA_EN_3'
st = morePVs.Study (base_path = base_path,
                    project = project,
                    study_name = study_name)

In [3]:
scenario_name = st.scenario_list[1]

In [4]:
scenario = morePVs.Scenario(study=st,scenario_name=scenario_name)

In [5]:
battery_id=scenario.battery_id

In [6]:
scenario.has_battery

True

In [7]:
bat = morePVs.Battery(st,scenario.battery_id)

In [8]:
st.battery_lookup

,capacity_kWh,cycle_kW,efficiency_cycle,maxDOD,maxSOC,max_cycles,capex,discharge_start,discharge_end,discharge_day,charge_start,charge_end,charge_day
battery_id,,,,,,,,,,,,,
bat001,50,20,0.8,0.8,0.9,1000,50000,18:00,20:00,both,NaN,NaN,both

In [9]:
st.battery_lookup.loc[battery_id, 'capacity_kWh']

50

In [10]:
discharge_start= st.battery_lookup.loc[battery_id, 'discharge_start']
discharge_end= st.battery_lookup.loc[battery_id, 'discharge_end']
discharge_day = st.battery_lookup.loc[battery_id, 'discharge_day']

In [12]:
bat.charge_period

AttributeError: 'Battery' object has no attribute 'charge_period'

In [ ]:
st.ts.days[discharge_day][(st.ts.days[discharge_day].time >= pd.Timestamp(discharge_start).time())
                    & (st.ts.days[discharge_day].time <= pd.Timestamp(discharge_end).time())]

In [22]:
st.ts.timeseries[st.ts.timeseries.day == 99]

DatetimeIndex([], dtype='datetime64[ns]', name='timestamp', freq=None)

In [24]:
e = pd.DatetimeIndex([])

In [27]:
bat.capacity_kWh

50

In [31]:
charge_kW = st.battery_lookup.loc[battery_id, 'charge_start']

In [32]:
charge_kW

nan

In [33]:
pd.isnull(charge_kW)

True

In [37]:
st.ts.timeseries[0] in st.ts.timeseries

True

__Testing Shortert timeseries__

In [43]:
load = pd.read_csv('C:\\Users\\z5044992\\Documents\\MainDATA\DATA_EN_3\\load_profiles\\2day_loads\\profile_2days.csv')

In [47]:
timeseries = load.index
num_steps = len(timeseries)
num_steps

17520

In [48]:
load

             timestamp     cp      1      2
0       1/01/2013 0:00  19.30  0.106  0.102
1       1/01/2013 0:30  19.35  0.045  0.153
2       1/01/2013 1:00  19.35  0.041  0.139
3       1/01/2013 1:30  19.40  0.034  0.105
4       1/01/2013 2:00  19.20  0.024  0.142
5       1/01/2013 2:30  19.00  0.018  0.146
6       1/01/2013 3:00  19.05  0.019  0.106
7       1/01/2013 3:30  18.85  0.018  0.106
8       1/01/2013 4:00  18.70  0.020  0.155
9       1/01/2013 4:30  18.55  0.021  0.133
10      1/01/2013 5:00  18.55  0.084  0.108
11      1/01/2013 5:30  17.95  0.034  0.106
12      1/01/2013 6:00  17.90  0.414  0.170
13      1/01/2013 6:30  18.20  0.398  0.179
14      1/01/2013 7:00  18.55  0.061  0.185
15      1/01/2013 7:30  18.80  0.019  0.107
16      1/01/2013 8:00  18.80  0.244  0.205
17      1/01/2013 8:30  18.85  0.228  0.137
18      1/01/2013 9:00  18.80  1.318  0.180
19      1/01/2013 9:30  19.15  0.034  0.176
20     1/01/2013 10:00  19.10  0.024  0.147
21     1/01/2013 10:30  19.50  0.023  0.173
22     1/01/2013 11:00  19.40  0.027  0.189
23     1/01/2013 11:30  19.70  0.016  0.148
24     1/01/2013 12:00  19.80  0.018  0.146
25     1/01/2013 12:30  19.50  0.020  0.194
26     1/01/2013 13:00  19.70  0.024  0.141
27     1/01/2013 13:30  19.30  0.024  0.177
28     1/01/2013 14:00  19.75  0.027  0.186
29     1/01/2013 14:30  19.50  0.024  0.152
...                ...    ...    ...    ...
17490              NaN    NaN    NaN    NaN
17491              NaN    NaN    NaN    NaN
17492              NaN    NaN    NaN    NaN
17493              NaN    NaN    NaN    NaN
17494              NaN    NaN    NaN    NaN
17495              NaN    NaN    NaN    NaN
17496              NaN    NaN    NaN    NaN
17497              NaN    NaN    NaN    NaN
17498              NaN    NaN    NaN    NaN
17499              NaN    NaN    NaN    NaN
17500              NaN    NaN    NaN    NaN
17501              NaN    NaN    NaN    NaN
17502              NaN    NaN    NaN    NaN
17503              NaN    NaN    NaN    NaN
17504              NaN    NaN    NaN    NaN
17505              NaN    NaN    NaN    NaN
17506              NaN    NaN    NaN    NaN
17507              NaN    NaN    NaN    NaN
17508              NaN    NaN    NaN    NaN
17509              NaN    NaN    NaN    NaN
17510              NaN    NaN    NaN    NaN
17511              NaN    NaN    NaN    NaN
17512              NaN    NaN    NaN    NaN
17513              NaN    NaN    NaN    NaN
17514              NaN    NaN    NaN    NaN
17515              NaN    NaN    NaN    NaN
17516              NaN    NaN    NaN    NaN
17517              NaN    NaN    NaN    NaN
17518              NaN    NaN    NaN    NaN
17519              NaN    NaN    NaN    NaN

[17520 rows x 4 columns]