In [ ]:
import pandas as pd
df=pd.DataFrame(['a','a','a'],index=[1,2,3],columns=['same'])
df

In [ ]:
df['diff'] = ['a','b','c']

In [ ]:
df

In [ ]:
df['diff'].unique()

Checking order of columns in results df's - do they need sorting??

In [1]:
import pandas as pd

checking if you take mean and std of a single row, wha'appen?

In [2]:
df= pd.DataFrame(columns=['A','B','C'])
df.loc['one']=[1,2,3]
#df.loc['two']=[10,10,10]

In [9]:
dfm=pd.DataFrame()
cols = df.columns.tolist()

In [14]:
mcols = [c + '_mean' for c in cols]
stdcols =[c + '_std' for c in cols]

In [11]:
for c in cols:
    cm = mcol[cols.index(c)]
    print(c,cm,df.loc[:,c].mean(axis=0))
    dfm.loc['x',cm] = df.loc[:,c].mean(axis=0)

A A_mean 1.0
B B_mean 2.0
C C_mean 3.0

In [15]:
mcols+stdcols

['A_mean', 'B_mean', 'C_mean', 'A_std', 'B_std', 'C_std']

In [ ]:
c
df.loc[:,c].mean(axis=0)
cm
dfm.loc['x',cm]
dfm

In [ ]:
df.columns[0]

In [ ]:
mcol.index(mcol[1])

In [ ]:
c='A'
df.loc[:,c].mean()

assigning series to column of dataframe

In [37]:
labels = ['a','b','c']
list = [1,2,3]
s = pd.Series(list, index=labels,name = 'sc1')
df=pd.DataFrame()

In [39]:
df = df.append(pd.Series(list, index=labels,name = 'sc1'))
df

       a    b    c
sc1  1.0  2.0  3.0
sc1  1.0  2.0  3.0

In [ ]:
index=pd.Index(['sc1'])
index

In [27]:
df.loc[index,labels]=s

KeyError: "['a' 'b' 'c'] not in index"

In [3]:
df

     A  B  C
one  1  2  3

In [17]:
s=pd.Series([9,10,11],index=['A','B','Y'],name='two')

In [18]:
df = df.append(s)

In [19]:
df

     A   B    C     X     Y
one  1   2    3   0.0   NaN
two  9  10   11   0.0   NaN
two  9  10  NaN  11.0   NaN
two  9  10  NaN   NaN  11.0

In [32]:
df.loc[:,['X','Y']] = df.loc[:,['X','Y']].fillna(0)

In [33]:
df

     A   B   C     X     Y  (X, C)
one  1   2   3   0.0   0.0       0
two  9  10  11   0.0   0.0       0
two  9  10   0  11.0   0.0       0
two  9  10   0   0.0  11.0       0